.icon-btn {
    padding: 10px 20px;
    background-image: url(./CSS/CSS-Avanzado/Assets/Image20231206104001.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    text-align: right;
    border: none;
    cursor: pointer;
}
width: 40px
height: 41px
top: 311px
left: 232px
