p{
    background-color: blue;
}

#Rey{color: blueviolet;

}

#René{color: aquamarine;

}


.CH35{color: magenta;

}

.Generation{
width: auto;
height: auto;
margin: auto;
padding: 50px;
border: dotted seashell;
}







div {
    width: auto;
    height: auto;
    margin: auto;
    padding: 50px;
    border: solid blue;
}

.Generation, .CH35 {
    border: solid white;
 }